Repository vrozaksen/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, tofu-fmt, terragrunt-fmt

actionlint:
  name: actionlint
  entry: mise exec -- actionlint
  language: system
  pass_filenames: false

yamllint:
  name: yamllint
  entry: mise exec -- yamllint -c .yamllint.yaml .
  language: system

tofu-fmt:
  name: tofu format
  entry: mise exec -- tofu fmt -check -recursive
  language: system
  pass_filenames: false

terragrunt-fmt:
  name: terragrunt format
  entry: mise exec -- terragrunt hcl format --check
  language: system
  pass_filenames: false

chore: remove diagram, it's not mine!
  docs/img/network-diagram.drawio.png
Due: none

feat(offsite): add hAP ax lite router management module
  infrastructure/mikrotik/offsite-locals.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  infrastructure/mikrotik/router-offsite/terragrunt.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-offsite-services/_provider.tf
  modules/mikrotik-offsite-services/_variables.tf
  modules/mikrotik-offsite-services/dhcp-servers.tf
  modules/mikrotik-offsite-services/dns.tf
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/main.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/provider.tf
  modules/mikrotik-offsite-services/modules/dhcp-server/variables.tf
  modules/mikrotik-offsite-services/qos.tf
  modules/mikrotik-offsite-services/wifi.tf
  modules/mikrotik-offsite-services/wireguard.tf
  modules/mikrotik-router-services/_variables.tf
Due: tofu-fmt, terragrunt-fmt

fix: correct IP address for Local-Friend service
  modules/mikrotik-router-services/firewall-nat-rules.tf
Due: tofu-fmt

bump
  .envrc
  .gitignore
  infrastructure/cloudflare/primary/terragrunt.hcl
  infrastructure/cloudflare/secondary/terragrunt.hcl
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/offsite-locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  infrastructure/ovh/dependency.hcl
  infrastructure/ovh/ipv4-cname/terragrunt.hcl
  infrastructure/ovh/vpn-cname/terragrunt.hcl
  justfile
  modules/cloudflare-cname/main.tf
  modules/cloudflare-cname/providers.tf
  modules/cloudflare-cname/variables.tf
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/ip-services.tf
  modules/mikrotik-base/tools.tf
  modules/mikrotik-offsite-services/_variables.tf
  modules/mikrotik-offsite-services/dns.tf
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/scripts.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
  modules/ovh-cname/main.tf
  modules/ovh-cname/providers.tf
  modules/ovh-cname/variables.tf
Due: tofu-fmt, terragrunt-fmt

feat(firewall): add DNS redirection rules and update address lists for IoT and K8s services
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-router-services/firewall-address-lists.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
Due: tofu-fmt, terragrunt-fmt

ci(github-tag): update tag github/codeql-action (v4.35.5 → v4.36.0)
  .github/workflows/codeql.yml
Due: actionlint, yamllint

ci(forgejo): port commitlint, label-sync, labeler, and lint workflows from GitHub Actions
  .forgejo/workflows/commitlint.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  .forgejo/workflows/lint.yaml
  .yamllint.yaml
Due: yamllint

ci(forgejo): drop mise, install only what each job needs
  .forgejo/workflows/commitlint.yaml
  .forgejo/workflows/lint.yaml
Due: yamllint

fix(lint): change yamllint installation method to use pipx
  .forgejo/workflows/lint.yaml
Due: yamllint

style: tofu fmt
  modules/mikrotik-offsite-services/firewall.tf
  modules/mikrotik-offsite-services/qos.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/modules/dhcp-server/main.tf
Due: tofu-fmt

chore: replace pre-commit with lefthook, add yamlfmt auto-fix
  .lefthook.toml
  .mise.toml
  .pre-commit-config.yaml
Due: yamllint

ci(forgejo): expose pipx-installed yamllint on PATH
  .forgejo/workflows/lint.yaml
Due: yamllint

style: tofu + terragrunt fmt
  .lefthook.toml
  .mise.toml
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
Due: terragrunt-fmt

ci(forgejo): scope yamllint to maintained files, fix EOF in retained .github/ configs
  .github/FUNDING.yml
  .github/labeler.yaml
  .yamllint.yaml
Due: yamllint

feat: add labeler and label sync workflows, update labels configuration
  .forgejo/labeler.yaml
  .forgejo/labels.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  .github/workflows/codeql.yml
  .github/workflows/commitlint.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yaml
  .github/workflows/terraform.yaml
  CODEOWNERS
  CODE_OF_CONDUCT.md
Due: actionlint, yamllint

ci(forgejo): migrate to dotrepos reusable workflows
  .forgejo/workflows/commitlint.yaml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/lint.yaml
  .forgejo/workflows/terraform.yml
Due: yamllint

lint: me
  CODE_OF_CONDUCT.md
  README.md
Due: none

chore: ignore "hass" (Home Assistant) in codespell
  .codespellrc
Due: none

refactor: consume dotrepos preset, clean configs, refresh stale README
  .codespellrc
  .commitlintrc.json
  .editorconfig
  .forgejo/labeler.yaml
  .forgejo/labels.yaml
  .forgejo/workflows/dotrepos-sync.yml
  .forgejo/workflows/label-sync.yaml
  .forgejo/workflows/labeler.yaml
  .forgejo/workflows/lint.yaml
  .forgejo/workflows/terraform.yml
  .gitignore
  .lefthook.toml
  .markdownlint.yaml
  .mise.toml
  .renovaterc.json
  .shellcheckrc
  .terraform.lock.hcl
  .yamlfmt.yaml
  .yamllint.yaml
  CODEOWNERS
  README.md
  commitlint.config.js
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/router-offsite-services/.terraform.lock.hcl
  infrastructure/mikrotik/router-offsite/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/ovh/ipv4-cname/.terraform.lock.hcl
  infrastructure/ovh/vpn-cname/.terraform.lock.hcl
  modules/mikrotik-router-services/scripts.tf
Due: yamllint, tofu-fmt, terragrunt-fmt

fix(lint): drop FUNDING.yml + bracket-tracked yaml files
  .github/FUNDING.yml
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

feat(terraform): update provider routeros (1.85.3 → 1.99.1)
  .terraform.lock.hcl
  modules/mikrotik-base/_provider.tf
  modules/mikrotik-offsite-services/_provider.tf
  modules/mikrotik-router-services/_provider.tf
Due: tofu-fmt, terragrunt-fmt

fix(ci): trigger dotrepos-sync only on labeled/synchronize, skip noise
  .forgejo/workflows/dotrepos-sync.yml
Due: yamllint

chore(deps): update dotrepos managed files (2208c10 → a21477f)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (a21477f → 2a97808) (#34)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

feat(terraform): update provider routeros (1.85.3 → 1.99.1) (#35)
  .terraform.lock.hcl
  modules/mikrotik-base/_provider.tf
  modules/mikrotik-offsite-services/_provider.tf
  modules/mikrotik-router-services/_provider.tf
Due: tofu-fmt, terragrunt-fmt

fix(dotrepos-sync): label.name guard, drop synchronize trigger
  .forgejo/workflows/dotrepos-sync.yml
Due: yamllint

fix: commitlint
  commitlint.config.js
Due: none

feat(ci): gate lint leaves by file-type changes
  .forgejo/workflows/lint.yaml
  .forgejo/workflows/security.yml
  .forgejo/workflows/terraform.yml
Due: yamllint

chore(deps): update dotrepos managed files (2a97808 → 3229820) (#36)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

ci(github-tag): update tag actions/checkout (v6.0.2 → v6.0.3)
  .forgejo/workflows/labeler.yaml
Due: yamllint

chore: terragrunt up!
  infrastructure/mikrotik/router-base/.terraform.lock.hcl
  infrastructure/mikrotik/router-offsite-services/.terraform.lock.hcl
  infrastructure/mikrotik/router-offsite/.terraform.lock.hcl
  infrastructure/mikrotik/router-services/.terraform.lock.hcl
  infrastructure/mikrotik/switch-crs326/.terraform.lock.hcl
  infrastructure/ovh/ipv4-cname/.terraform.lock.hcl
  infrastructure/ovh/vpn-cname/.terraform.lock.hcl
Due: terragrunt-fmt

chore: ditch dotrepos sync job
  .forgejo/workflows/dotrepos-sync.yml
Due: yamllint

chore: emby+music migrated to NAS
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore: our mcp
  .mcp.json
Due: none

chore(deps): update dotrepos managed files (3229820 → 6dad6f3) (#37)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (6dad6f3 → 8aa5913)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (6dad6f3 → 8aa5913) (#38)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore: terraria nat, legacy wifi, lora
  .claude/settings.local.json
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-services/terragrunt.hcl
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/capsman.tf
  modules/mikrotik-router-services/firewall-nat-rules.tf
Due: tofu-fmt, terragrunt-fmt

fix(mikrotik): send RFC5424 syslog, hold back the uplink mirror source
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/logging.tf
  modules/mikrotik-base/mirror.tf
  modules/mikrotik-base/routing-bgp.tf
Due: tofu-fmt, terragrunt-fmt

Path conditions:
  actionlint: any of: ^\.github/workflows/.*\.(ya?ml)$
  yamllint: any of: \.(yaml|yml)$
  tofu-fmt: any of: \.tf$
  terragrunt-fmt: any of: \.hcl$
