Repository vrozaksen/mikrotik-terraform: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, yamllint, tofu-fmt, terragrunt-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: actionlint
        name: actionlint
        entry: mise exec -- actionlint
        language: system
        files: ^\.github/workflows/.*\.(ya?ml)$
        pass_filenames: false

      - id: yamllint
        name: yamllint
        entry: mise exec -- yamllint -c .yamllint.yaml .
        language: system
        types: [yaml]

      - id: tofu-fmt
        name: tofu format
        entry: mise exec -- tofu fmt -check -recursive
        language: system
        files: \.tf$
        pass_filenames: false

      - id: terragrunt-fmt
        name: terragrunt format
        entry: mise exec -- terragrunt hcl format --check
        language: system
        files: \.hcl$
        pass_filenames: false

  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key

chore(deps): update dotrepos managed files (8aa5913 → 80cf886)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (8aa5913 → 6306b8c)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (8aa5913 → 8054e05) (#39)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore: some changes
  .forgejo/workflows/labeler.yaml
  .forgejo/workflows/security.yml
  infrastructure/mikrotik/locals.hcl
  infrastructure/mikrotik/router-base/terragrunt.hcl
  infrastructure/mikrotik/switch-crs326/terragrunt.hcl
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/routing-bgp.tf
Due: yamllint, tofu-fmt, terragrunt-fmt

chore(deps): update dotrepos managed files (8054e05 → 640c506)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

chore(deps): update dotrepos managed files (8054e05 → 1a8407c)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

fix: new provider
  infrastructure/mikrotik/router-offsite-services/terragrunt.hcl
Due: terragrunt-fmt

feat: abuseipdb
  modules/mikrotik-router-services/_variables.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/threat-intel.tf
Due: tofu-fmt

chore(deps): update dotrepos managed files (8054e05 → 3b21048)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint

feat(dns): add silo.vzkn.eu for the Silo trial on aincrad
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

feat(ollama): add rules for PC
  modules/mikrotik-router-services/firewall-filter-rules.tf
Due: tofu-fmt

feat(guest): let one guest device reach the Wazuh manager
  infrastructure/mikrotik/locals.hcl
  modules/mikrotik-router-services/firewall-address-lists.tf
  modules/mikrotik-router-services/firewall-filter-rules.tf
Due: tofu-fmt, terragrunt-fmt

feat(mikrotik): ship interface link events to the collector
  modules/mikrotik-base/_variables.tf
  modules/mikrotik-base/logging.tf
Due: tofu-fmt

feat(wireguard): separate tunnel for untrusted peers
  modules/mikrotik-router-services/firewall-filter-rules.tf
  modules/mikrotik-router-services/vpn.tf
Due: tofu-fmt

fix(wireguard): open the listener port for the untrusted tunnel
  modules/mikrotik-router-services/firewall-filter-rules.tf
Due: tofu-fmt

feat(firewall): admin access to the honeypot over the untrusted tunnel
  modules/mikrotik-router-services/firewall-filter-rules.tf
Due: tofu-fmt

fix(dns): raise router DNS cache to fit adlists
  modules/mikrotik-router-services/dns-server.tf
Due: tofu-fmt

fix(dns): drop immich static record (moved to k8s), add dedupe
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

fix(dns): add tdarr, code and syncthing records for aincrad caddy
  infrastructure/mikrotik/locals.hcl
Due: terragrunt-fmt

chore(deps): update dotrepos managed files (8054e05 → 6dea97d)
  .markdownlint.yaml
  .shellcheckrc
  .yamlfmt.yaml
  .yamllint.yaml
Due: yamllint
